*{
    margin: 0;
    padding: 0;
}

#container{
    background-color:#FFEBCD;
    margin: 0 auto;
    width: 90%;
}

header{
    background-color: #D2B48C;
    padding: 20px;
}

header h1{
    color: #8B4513;
    border: 2px solid #FFDEAD;
    text-align: center;
    font-family: 'Estonia', cursive;
    font-size: 4em;
}

aside{
    float: left;
    margin: 2%;
    padding: 2%;
    width: 20%;
}
aside nav ul{
    list-style-type: none;
}

aside nav li{
    width: 100%;
    text-align: center;
    padding: 10px;
}

aside nav li a{
    font-size: 1.5em;
    background-color: #8B4513;
    border-radius: 10%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    color: #F5DEB3;
    text-decoration: none;
}

aside nav a:hover{
    
}

.conteudo{
    width: 70%;
    float: left;
}
article h2{
    padding: 20px;
    text-align: center;
}

.conteudo-principal{
    display: flex;
    float: right;
}

.artigo-principal{
    text-align: center;
}
.ultimo-conteudo img{
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    padding: 20px;
}

.ultimo-conteudo{
    width: 100%;
}


.texto{
    padding: 20px 10px;
    text-align: center;
}
footer{
    clear: both;
    background-color: #F5DEB3;
    padding: 20px;
}
footer p{
    float: inline-end;
    color: #8B4513;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
}